*{
   margin:0;
   padding:0;
   font-family:roboto;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background:transparent; 
}
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}
.material-icons {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
@font-face{
  font-family: roboto;
  src: url("asset/roboto-regular.ttf")
}
.header{   
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}
.left{ 
  display: flex;
  align-items: center;
  padding-left: 1%;
}
.left #logo{
  margin-left:8%;
  cursor:pointer;
}
.right{
  padding-right: 1%;
  flex:0.2;
  display:flex;
  justify-content:space-between;
  padding-left:32%;
}
.right .material-icons{
  align-items:center;
}
#pro{
  cursor:pointer;
}
.middle{
  display: flex;
  flex: 0.8;
  align-items: center;
  background-color:transparent;
  border-radius: 5px;
  margin-right:8.5%;
  padding-right:0;
  margin-top:0.5%;
  margin-bottom:0.5%;
  margin-left:6.5%;
  border:1px solid whitesmoke;
}
.middle input{
  border: none;
  width: 83%;
  padding: 15px;
  outline: none;
  font-size: medium;
  background-color: transparent;
  margin-left:0;
  color:whitesmoke;
 
}
.material-icons {
  color: whitesmoke;
  cursor:pointer;
}
.bg #bgi{
  position:absolute;
  z-index:-1;
  width:100%;
  position:fixed;
}
.middle span{
  justify-content:space-between;
  margin-left:1%;
  margin-right:1%;
}
.combtn h3{
  margin-left:43px;
  font-size:15px;
}
.combtn #add{
  width:2.3%;
  position:absolute;
}
.combtn{
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: gray;
  padding: 15px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
  width:155px;
}
.sidebarOption h3{
  color:whitesmoke;
  font-size:14px;
  flex: 1;

}
.sidebarOption h5{
  color:whitesmoke;
  margin-right:5%;
}
.sidebar{
  flex: 0.3;
  max-width: 250px;
  padding-right: 20px;
  overflow-y:scroll;
  max-height:188px;
  border-bottom:1px solid whitesmoke;
}
.sidebar-mid{
  flex: 0.3;
  max-width: 250px;
  padding-right: 20px;
  max-height:188px;
  border-bottom:1px solid whitesmoke;
}
.sidebar-mid h5{
  color:whitesmoke;
  font-size:14px;
  margin-top:6%;
  margin-left:10%;
  margin-bottom:4%;
}
.hang{
  flex: 0.3;
  max-width: 250px;
  padding-right: 20px;
  max-height:188px;
  border-bottom:1px solid whitesmoke;

}
.hang h3{
  color:whitesmoke;
  font-size:14px;
  margin-left:10%;
  margin-top:4%;
  margin-bottom:4%;
}
.hang #og{
  width:10px;
  height:10px;
  margin-top:10px;
  margin-left:24px;
  position:absolute;
}
.hang #himg{
  cursor:pointer;
}
.hang .sidebarOpt h5{
  margin-left:5%;
  color:whitesmoke;
  flex:1;

}
.sidebarOpt{
  display:flex;
  align-items:center;
  margin-top:0;
  margin-left:8%;
  margin-bottom:4%;
}
.sidebarOption{
  display:flex;
  align-items:center;
  margin-top:0;
  margin-left:0;
}
.sub{
  margin-left:8%;
}
.sidebarOption .material-icons{
  font-size:20px;
  margin-right:6%;
  padding: 5px;
}
.sidebarOption:hover,
.sidebarOption:hover h3,
.sidebarOption:hover h5,
.sidebarOption:hover .material-icons,
.sidebarOption__active,
.sidebarOption__active h3,
.sidebarOption__active h5,
.sidebarOption__active .material-icons {
  background-color: grey;
  color: whitesmoke;
  font-weight: 800;
  border-bottom-right-radius:20px;
  border-top-right-radius:20px;
  cursor:pointer;
  margin-left:0;
}
.hangmid{
  flex: 0.3;
  max-width: 250px;
  padding-right: 20px;
  max-height:500px;
  border-bottom:1px solid whitesmoke;
}
.hangmid .iconify{
  width:33%;
  height:33%;
  margin-left:36%;
  margin-top:50%;
}
.hangmidtext h3{
  color:whitesmoke;
  font-size:12px;
  cursor:pointer;
}
.hangmidtext h5{
  color:#bacbe0;
  font-size:12px;
  margin-top:2%;
  cursor:pointer;
}
.hangmidtext{
  margin-left:35%;
  margin-top:6%;
  margin-bottom:50%;
}
.hangfoot{
  flex: 0.3;
  max-width: 270px;
  border-bottom:1px solid whitesmoke;
}
.sidehf .material-icons{
  font-size:20px;
  color:whitesmoke;
  margin-left:5%;
  margin-top:8%;
  cursor:pointer;
  margin-bottom:8%;
}
.sidehf{
  margin-left:35%;
}
/*Top Side Bar starts*/
.top-side-bar{
  margin-left:14.25%;
  background:transparent;
  top:0;
  margin-top:4%;
  position:absolute;
  display:flex;
  padding:14px;
  width:80.45%;
  border-bottom:1px solid whitesmoke;
}
.tsb{
  margin-right:2%;
  display:flex;
  width:25%;
}
.tsb span{
  margin-left:4%;
}
/*Topsidebar ends*/
/*mail container starts*/
.mail-contain{
  flex:0.3px;
  width:80%;
  position:absolute;
  top:0;
  height:100%;
  margin-left:14.2%;
  margin-top:6.6%;
}
.mail-list{
   background:transparent;
  flex:0.3px;
  width:102.3%;
  position:absolute;
  top:3px;
  height:100%;
  margin-left:0;
  margin-top:0;
  overflow-y:scroll;
}
.mail-list-top{
  display:flex;
  align-items:center;
  flex:0.3;
  width:100%;
  justify-content:space-between;
  padding:14px;
  
  
}
.mlt-left h3{
  color:whitesmoke;
  font-size:14px;
  margin-left:5%;
  margin-top:3%;
}
.mlt-right h5{
  color:grey;
  font-size:12px;
  white-space:nowrap;
  margin-top:3%;
  margin-left:38%;
}
.mlt-left{
  display:flex;
}
.mlt-right{
  display:flex;
  width:12%;
}
.mlt-right .material-icons{
  color:grey;
  font-size:20px;
  margin-top:1.5%;
}
.emailRow {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid grey;
  cursor: pointer;
  z-index: 999;
  background:whitesmoke;
  opacity:0.9;
}
.emailRow:hover {
  border-top: 1px solid grey;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}
.emailRow__message {
  display: flex;
  flex: 0.8;
  align-items: center;
  font-size: 13px;
}

.emailRow__message h4 {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}
.emailRow__title {
  font-size: 13px;
  flex: 0.3;
}

.emailRow__time {
  padding-right: 15px;
  font-size: 10px;
  font-weight: bold;
}

.emailRow__description {
  font-weight: 400;
  color: gray;
}
.emailRow__options {
  display: flex;
  align-items: center;
}

.emailRow__options .material-icons {
  margin-left:12px;
  color:grey;
}
.emailRow__options input {
  margin-left:13px;
  color:grey;
}
.emailRow h3{
  margin-left:15px;
}
/*mail container ends*/
.rsbimg{
  width:20px;
  height:20px;
  margin-left:22px;
  margin-top:26px;
  cursor:pointer;
}
.rsb-top #cal{
  width:20px;
  height:20px;
  margin-left:22px;
  cursor:pointer;

}
.rsb{
  width:5%;
  position:absolute;
  margin-left:102.5%;
  height:100%;
  border-left:1px solid whitesmoke;
  
}
.rsb-top{
  align-items-center;
  height:250px;
  display:block;
}
.rsb-bottom{
  align-items-center;
  display:block;
  height:600px;

}
.rsb-add .material-icons{
  margin-left:22px;
}
.rsb-che .material-icons{
  margin-left:22px;
  margin-top:450px;
}
/*max-width 1500px */
@media (min-width:769px) and (max-width: 1500px){
  .hangmid .iconify{
     display:none;
  }
  .left #logo{
  margin-left:9%;
  }
  .right{
  padding-right: 2%;
  flex:0.17;
  justify-content:space-between;
  padding-left:14%;
  }
  .right .material-icons{
  align-items:center;
  }
  .middle{
  flex: 0.8;
  margin-right:0;
  margin-top:0.5%;
  margin-bottom:0.5%;
  margin-left:7.8%;
  width:
  }
  .middle input{
  width: 83%;
  padding: 15px;
  font-size: medium;
  background-color: transparent;
  color:whitesmoke;
 
  }
  .left-side-bar{
  max-width: 22%;
  }
  .top-side-bar{
  margin-left:19.2%;
  margin-top: 7.8%;
  width:74.3%;
  padding: 9px;
  }
  .mail-contain{
  margin-left:19.2%;
  margin-top:10.6%;
  }
  .mail-list{
  width:95.3%;
  max-height: 78.3%;
  margin-bottom:2%;
  top:0.5px;
  }
  .mail-list-top{
  width:96%;
  padding:9px;
  
  }
  .rsb{
  margin-left:94.5%;
  max-height: 50%;
  margin-top:0.5%;

  }
  .rsb-che .material-icons{
  margin-left:22px;
  margin-top:190px;
  }
  .hangmidtext h3{
  margin-top:19.5%;
  }
  .hangmid{
  max-height:58px;
  }
  .hangfoot{
  max-height:40px
  }
  .side{
  max-height:20%;
  }
}
/*max-width 768px*/
@media (min-width: 321px) and (max-width: 768px){
  .material-icons{
  font-size:18px;
  }
  .left #logo{
  width:82px;
  margin-left:15%;
  height: 30px;
  }
  .left{
  margin-left:1%;
  }
  .middle{
  margin-left: 11%;
  }
  .right{
  padding-left:0;
  }
  .right .material-icons {
  margin-right:12px;
  }
  .middle input{
  padding:8px;
  font-size: 13px;
  }
  .middle span{
  margin-left: 3%;
  margin-right: 3%;
  }
  #pro{
  width: 25px;
  }
  .combtn{
  padding: 10px;
  width: 111px;
  }
  .combtn h3{
  font-size: 12px;
  margin-left: 35px;
  }
  .combtn #add {
  width:34px;
  }
  .top-side-bar {
  margin-left: 24.25%;
  margin-top: 5.5%;
  width:72.4%;
  }
  .header{
  width: 108.5%;
  }
  .mail-list {
  margin-top: 6%;
  margin-left: 12.5%;
  width: 96.3%;
  }
  .rsb{
  margin-left: 107.5%;
  margin-top: 6%;
  } 
  .mail-list-top {
  width: 87%;
  }
  .mlt-left h3 {
  font-size: 12px;
  }
  .mlt-right h5 {
  font-size: 11px;
  margin-top: 4%;
  }
  .mlt-right .material-icons {
  margin-top: 0%;
  font-size: 16px;
  }
  .left-side-bar{
  width: 24%;
  }
  .hang #himg {
  width: 25px;
  }
  .hang h3 {
  font-size: 12px;
  }
  .hang #og {
  width: 7px;
  height: 7px;
  margin-top: 11px;
  margin-left: 19px;
  }
  .sidebarOption h3 {
  font-size: 12px;
  }
  .sidebarOption h5 {
  font-size: 10.5px;
  }
  .sidebar-mid h5 {
  font-size: 12px;
  }
  .hang .sidebarOpt h5 {
  font-size: 10.5px;
  }
  .emailRow {
  height: 30px;
  }
  .emailRow__title {
  font-size: 12px;
  }
  .emailRow__message h4 {
   width: 279px;
   font-size: 11px;
  }
  .emailRow__description {
  display: none;
  }
  .hangmid .iconify {
  display:none;
  }
  .hangmid {
  border-bottom: 1px solid whitesmoke;
  }
  .hangfoot {
  }
  .sidehf .material-icons {
  font-size: 12px;
  }
  .rsb-che .material-icons {
  margin-top: 153px;
  }
  .hangmidtext h3 {
  font-size: 10.5px;
  margin-top: 22%;
  }
  .hangmidtext h5 {
  font-size: 10.5px;
  margin-top: 2%;
  }
  .rsbimg {
   width: 18px;
   margin-top: 16px;
   height: 18px;
  }
  .rsb-top #cal {
  width: 18px;
  height: 18px;
  }
}